# FAIR4Health Gateway

FAIR4Health Gateway to provide authentication, authorization and intelligent routing. 

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
### {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} `{{.}}` {{/labels}} {{/hasLabels}}
* Further information in the Pull Request [{{issue}}]({{link}})
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}
 {{/issues}}
{{/tags}}
